@import "tailwindcss";
@import "./styles/variables.css";
@import "./styles/animations.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100%;
  overflow-x: hidden;

  font-family: var(--font-jakarta), sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;

  color: #202124;
  background: #f7f7f5;

  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Append directly down inside your globals.css template file */

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@font-face {
  font-family: 'Hornbill';
  src: url('/fonts/Hornbill-Personal Use Regular.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Axiforma';
  src: url('/fonts/Axiforma Medium.otf') format('opentype');
  font-weight: 500;
}